.HomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.HomePage img {
  width: 30%;
  max-width: 150px;
  height: auto;
  background-color: white;
  border: 2px solid white;
}

.home-page-button {
  width: 40%;
  max-width: 300px;
}

.home-page-button:hover {
  padding: 0 24px;
}