._search-drop-down-container {
  position: relative;
  z-index: 1;
}

._search-bar-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
}

._search-bar-row > input {
  border: none;
  background: none;
}

._search-bar-row > input:focus {
  border: none;
  outline: none;
}

._search-bar-row > button {
  border: none;
  border-radius: 0;
  background: none;
  color: black;
  height: 100%;
}

._search-bar-row > button:hover {
  background-color: rgba(0,0,0,0.2);
}

._drop-down-menu {
  position: absolute;
  width: 100%;
  overflow-y: auto;
  border: 1px solid black;
  border-top: none;
}

._drop-down-menu > button {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  padding-left: 5px;
  text-align: left;
  align-items: flex-start;
}

._drop-down-menu > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}