@font-face {
  font-family: "Varela Round";
  src: url("./assets/fonts/VarelaRound.ttf");
}

:root {
  --background-primary: #008080;
  --background-secondary: #fff;
  --dark-primary: #003636;
  --font-primary: #fff;
  --font-secondary: #008080;
}

body {
  margin: 0;
  font-family: "Varela Round";
  color: var(--font-primary);
}


h1, h2, h3, h4 {
  font-weight: bold;
  text-shadow: var(--dark-primary) 3px 3px;
}

h1 {
  font-size: clamp(2vw, 8rem, 5vw);
}

h2 {
  font-size: clamp(1vw, 8rem, 4vw);
}

button {
  padding: 0;
}

.button, button {
  box-sizing: content-box;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  text-decoration: none;
  border: 2px solid var(--dark-primary);
  border-radius: 10px;
  padding: 0 10px;
  background-color: var(--background-secondary);
  color: var(--font-secondary);
  font-family: "Varela Round";
  font-weight: bold;

  position: relative;
  cursor: pointer;
  transition: 500ms;
}

.button:hover, button:hover {
  background-color: var(--background-primary);
  color: var(--font-primary);
  border-color: var(--background-secondary);
}

@keyframes show-page {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}